<p>목록 작성하기</p>
<article><header>
<h1>목록 작성하기</h1>
</header>
<div>
<div>
<table>
<thead>
<tr>
<th>이름</th>
<th>tages</th>
<th>Files</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://www.notion.so/zero-795e15d9519346b2a583b57e3ab0e26a">{{zero}}</a></td>
<td>{{one}}</td>
<td>{{two}}</td>
</tr>
<tr>
<td><a href="https://www.notion.so/172f4b6b913f4aa9ac835b6c932378e4">제목 없음</a></td>
</tr>
<tr>
<td><a href="https://www.notion.so/2a2d900bffa6438fa5cf3b5c4913c529">제목 없음</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</article>